.logo {
  height: 2.25rem;
  width: 2.25rem;
}
.logo path {
  stroke: var(--primary-color);
}
.logo__container {
  line-height: 1;
}
@media (max-width: 480px) {
  .logo {
    width: 2rem;
    height: 2rem;
  }
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: var(--nav-color);
}

.nav__link {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5rem;
  color: inherit;
  /* color: var(--primary-color); */
}

.nav__list {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--nav-color);
  font-size: 1.25rem;
  position: relative;
  margin: 0 0.5rem;
}

.cart__length {
  background-color: var(--red-main);
  color: var(--white);
  width: 1rem;
  height: 1rem;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: 12px;
  right: -2px;
  pointer-events: none;
}
@media (max-width: 480px) {
  .cart__length {
    height: 0.8rem;
    width: 0.8rem;
    font-size: 8px;
    bottom: 14px;
    right: 2px;
  }
}

.btn__menu {
  background-color: transparent;
  border: none;
  color: var(--nav-color);
}
.menu__backdrop {
  position: fixed;
  background-color: #00142bed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__list {
  padding: 1.5rem 0;
}
.menu__link {
  color: var(--white);
  font-size: 40px;
}
.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: var(--grey-100);
  font-size: 2rem;
}
.btn__checkout {
  width: 100%;
  font-size: 16px;
  padding: 12px 0;
}
